/* ==========================================================================
   Colors
   ========================================================================== */
   $base-accent-color: #f0c24f;
   $base-font-color: #444;


   /* ==========================================================================
   Breakpoints
   ========================================================================== */


   /* ==========================================================================
   Spacing
   ========================================================================== */
   $base-spacing: 1em;

   /* ==========================================================================
   Scale
   ========================================================================== */